{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
  Product or service purpose - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>About the idea or innovation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 1 of 12
        </span>
      </h1>

      <form action="/htc/account/questions/1-product/five" method="post">

        {% call fieldset({
        legend: {
          "text": "What is the main purpose of your product or service?",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": false
        }
        }) %}


        {{ radios({
          "idPrefix": "product-purpose",
          "name": "product-purpose",
          "items": [
        {
          "value": "prevent",
          "text": "Preventing a condition from happening or worsening"
        },
        {
          "value": "diagnose",
          "text": "Diagnosing, assessing or monitoring a condition treatment or therapy"
        },
        {
          "value": "provide",
          "text": "Providing a treatment or therapy"
        },
        {
          "value": "provide",
          "text": "Enabling care, services or communication"
        }
      ]
      }) }}
      {% endcall %}

      <a href="/htc/account/questions/1-product/six" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>


      </form>

    </div>
  </div>
{% endblock %}
