{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
    Product or service - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h1>About the idea or innovation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 2 of 12
        </span>
      </h1>


      <form action="/htc/account/questions/1-product/four" method="post">

    
     {{ checkboxes({
        "idPrefix": "product-technologies",
        "name": "product-technologies",
        "fieldset": {
          "legend": {
            "text": "Which of these categories apply to your product or service?",
            "classes": "nhsuk-fieldset__legend--m",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all options that are relevant to you."
        },
        "items": [
          {
            "value": "pharma",
            "text": "Pharmaceutical"
          },
          {
            "value": "med-tech",
            "text": "Diagnostic device"
          },
          {
            "value": "med-tech",
            "text": "Medical technology for treatment"
          },
          {
            "value": "platform",
            "text": "Digital health platform, mobile app or cloud service"
          },
          {
            "value": "machine-learning",
            "text": "Machine learning with fixed or adaptive algorithm"
          }
        ]
      }) }}

      <a href="/htc/account/questions/1-product/five" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

      </form>

    </div>
  </div>
{% endblock %}
