{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
  Alternatives  - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Alternatives available
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 1 of 6
        </span>
      </h1>

      <form action="/htc/account/questions/1-product/four" method="post">

        {% call fieldset({
        legend: {
          "text": "Are you aware of any alternatives to your product or service?",
          "classes": "nhsuk-fieldset__legend--m",
          "isPageHeading": true
        }
        }) %}


        {{ radios({
          "idPrefix": "alternative-aware",
          "name": "alternative-aware",
          "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "No",
          "text": "No"
        }
      ]
      }) }}
      {% endcall %}

      {% from 'textarea/macro.njk' import textarea %}

        {{ textarea({
          "name": "example",
          "id": "example",
          "label": {
            "text": "Please describe any alternatives you are aware of",
            "classes": "nhsuk-fieldset__legend--m"
          },
          "hint": {
            "text": "If you answered yes, please provide a short description"
          }
        }) }}

      {{ button({
        "text": "Continue"
      }) }}


      </form>

    </div>
  </div>
{% endblock %}
