{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
    Product or service - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>About the idea or innovation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 2 of 12
        </span>
      </h1>


      <form action="/htc/account/questions/1-product/three" method="post">

        {% call fieldset({
        legend: {
          "text": "What category best describes your idea or innovation?",
          "classes": "nhsuk-fieldset__legend--m",
          "isPageHeading": true
        }
        }) %}


        {{ radios({
          "idPrefix": "clinical-product",
          "name": "clinical-product",
          "items": [
        {
          "value": "yes",
          "text": "Clinical"
        },
        {
          "value": "no",
          "text": "Non-clinical"
        }
      ]
      }) }}
      {% endcall %}


      <a href="/htc/account/questions/1-product/four" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>


      </form>

    </div>
  </div>
{% endblock %}
