{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
  Product or service purpose - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Product or service purpose
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 1 of 6
        </span>
      </h1>

      <form action="/htc/account/questions/1-product/three" method="post">

        {% call fieldset({
        legend: {
          "text": "What is the main purpose of your product or service?",
          "classes": "nhsuk-fieldset__legend--m",
          "isPageHeading": false
        }
        }) %}


        {{ radios({
          "idPrefix": "product-purpose",
          "name": "product-purpose",
          "items": [
        {
          "value": "prevent",
          "text": "Preventing a condition from happening or worsening"
        },
        {
          "value": "diagnose",
          "text": "Diagnosing, assessing or monitoring a condition treatment or therapy"
        },
        {
          "value": "provide",
          "text": "Providing a treatment or therapy"
        },
        {
          "value": "provide",
          "text": "Enabling care, services or communcation"
        }
      ]
      }) }}
      {% endcall %}


      {% from 'textarea/macro.njk' import textarea %}

        {{ textarea({
          "name": "example",
          "id": "example",
          "label": {
            "text": "What problem does your product or service solve?",
            "classes": "nhsuk-fieldset__legend--m"
          },
          "hint": {
            "text": "Please provide a short description"
          }
        }) }}

      {{ button({
        "text": "Continue"
      }) }}


      </form>

    </div>
  </div>
{% endblock %}
