{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
  Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        About the idea or innovation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 2 of 12
        </span>
      </h1>

      <form action="/htc/account/questions/1-product/two" method="post">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "What is the name of your product, service or prototype?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
            "hint": {
            "text": "The name or working title of your product, service or prototype"
          },
          "id": "tech-name",
          "name": "tech-name",
          "classes": "nhsuk-u-width-three-quarters"
        }) }}


      <a href="/htc/account/questions/1-product/three" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

      </form>

    </div>
  </div>
{% endblock %}
