{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Detailed understanding of needs (clinical)
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 3 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/2-clinical-needs/two" method="post">

     
      {% from 'checkboxes/macro.njk' import checkboxes %}
      
          {{ checkboxes({
            "idPrefix": "example",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "What population or subgroup does this product or service affect?",
                "classes": "nhsuk-fieldset__legend--l"
              }
            },
            "items": [
              {
                "value": 1,
                "text": "Elderly"
              },
              {
                "value": 2,
                "text": "Children"
              },
              {
                "value": 3,
                "text": "Other"
              }
          ]
      }) }}
  
      <a href="/htc/account/questions/2-clinical-needs/three" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}