{% extends 'layout.html' %}

{% block pageTitle %}
  Demand - Main page
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Information for innovators
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          NHS innovation needs
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/demand",
            text: "Categories of need"
          },
          {
            href: "/demand/page-two",
            text: "Communication of needs"
          },
          {
            href: "/demand/page-three",
            text: "Information for innovators",
            current: "true"            
          },
          {
            href: "/assess",
            text: "Patient safety and regulation"
          },
          {
            href: "/assess/page-two",
            text: "Clinical effectiveness "
          },
          {
            href: "/assess/page-three",
            text: "Value for money"
          }
        ]
      }) }}

      <h2>Latest information</h2>
      <p>Pellentesque tortor sapien, rutrum a porttitor vitae, venenatis porttitor ligula. Quisque ac tincidunt dui, a tempus lorem. Integer iaculis posuere posuere. Vestibulum sed ullamcorper eros. </p>
      <h2>Planning for future needs</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id purus eget tellus ullamcorper viverra. Mauris nec porta diam. Ut molestie, purus sit amet tristique tempus, augue nulla elementum libero, quis gravida est est at odio. Curabitur leo nibh, vulputate eget ligula et, feugiat hendrerit neque. Phasellus sollicitudin quis lectus quis eleifend. </p>
      <h2>Events and networking opportunities</h2>
      <p>
      <p>Pellentesque tortor sapien, rutrum a porttitor vitae, venenatis porttitor ligula. Quisque ac tincidunt dui, a tempus lorem. Integer iaculis posuere posuere. Vestibulum sed ullamcorper eros. 
      </p>


      {{ pagination({
        "previousUrl": "/demand/page-two",
        "previousPage": "Communication of needs",
        "nextUrl": "/assess",
        "nextPage": "Patient safety and regulation"
      }) }}

    </div>
  </div>
{% endblock %}
