
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Evidence
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/evidence/medicines",
            text: "Medicines"
          },          
          {
            href: "/htc/innovators/evidence/devices",
            text: "Medical devices"
          },
          {
            href: "/htc/innovators/evidence/diagnostics",
            text: "Diagnostics tests"
          },
          {
            href: "/htc/innovators/evidence/digital",
            text: "Digital health technologies"
          },
          {
            href: "/htc/innovators/evidence/other",
            text: "Other types of innovation"
          }
        ]
      }) }}

      <p>For a product or service (including medicinal products, medical devices, diagnostic tests, digital health technologies, non-clinical services, models of care, surgical procedures) to be adopted within the NHS, innovators must provide evidence to support their value proposition. </p>

<h2 id="efficacy-and-safety">Efficacy and Safety</h2>
<p>To satisfy regulatory requirements in the UK, innovators must provide evidence of efficacy and safety of their product through any relevant framework. More information about the regulations that apply to different types of innovation can be found in the Regulations section.</p>
<h2 id="comparative-clinical-effectiveness">Comparative clinical effectiveness versus standard of care in the NHS</h2>
<p>Decision makers in the NHS, including NICE and clinical commissioning groups, require an understanding of interventions in the context of alternative care (comparative effectiveness). The evaluation of comparative effectiveness requires quantification of the effect of the technology being assessed and of the relevant comparator technologies representing standard of care in the NHS.</p>
<p>NICE’s different evaluation programmes have different evidence requirements for showing clinical and cost-effectiveness.  Evidence can include anything from systematic reviews and meta-analyses to case studies. Furthermore, NICE has published a statement of intent on the Use of Broader Data in Guidance Development. The robustness of the evidence provided will be considered by the relevant decision-makers.</p>

<p>Further information on what type of evidence is needed to support your value proposition can be sought from NICE Scientific Advice.</p>
<h2 id="economic-case">Economic case demonstrating value for money</h2>
<p>Decision makers in the NHS, including NICE and clinical commissioning groups have to make decisions with a focus on maximising health gains in the context of a fixed NHS budget. Therefore, an economic evaluation is needed to assess the economic impact of adopting healthcare interventions (that is, to compare the costs and benefits of a healthcare intervention to assess its value for money for the NHS).</p>


 
    </div>  

  </div>
{% endblock %}
