
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Evidence
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/evidence",
            text: "Evidence overview"
          },
          {
            href: "/htc/innovators/evidence/medicines",
            text: "Medicines"
          },          
          {
            href: "/htc/innovators/evidence/devices",
            text: "Medical devices",
            current: "true"
          },
          {
            href: "/htc/innovators/evidence/diagnostics",
            text: "Diagnostics tests"
          },
          {
            href: "/htc/innovators/evidence/digital",
            text: "Digital health technologies"
          },
          {
            href: "/htc/innovators/evidence/other",
            text: "Other types of innovation"
          }
        ]
      }) }}

      <h2>Medical devices</h2>

<h3>Clinical effectiveness</h3>
<p>Innovators will need to provide published and/or unpublished evidence (including experimental and observational studies) demonstrating efficacy, effectiveness, usability and safety outcomes.  These data may include real world evidence from studies in clinical settings, ideally in the NHS or of relevance to NHS care pathways. Evidence submitted to regulators (MHRA, FDA) could form a part of this submission.</p>

<p>It is important that evidence supports the claimed benefits of the technology and relevant outcomes, such as measuring resource use where staff or setting is important. For example, studies showing a device can allow treatments to be undertaken in primary care and saves clinical staff time. Relevant, clinically important outcomes are important over and above evidence showing functionality of the technology, such as demonstrating complete wound closure in wound care technologies.</p>

<p>Evidence of comparative effectiveness may come from head-to-head randomised or non-randomised clinical trials, indirect, before-after and other studies showing benefits over treatments routinely used in the NHS. The appropriate type of evidence would depend on the class of the medical device.</p>

<h3>Economic evidence</h3>
<p>The preferred type of economic analysis for most medical devices is a cost-consequence analysis (CCA). However, for medical devices that incur additional cost over and above standard NHS care, a cost-utility and budget impact analysis will be required, similar to those used for medicinal products.</p>

<p>CCA considers the costs and resource consequences resulting from, or associated with, the use of the technology under evaluation and comparator technologies, as well as considering relevant clinical benefits (for example, effectiveness outcomes) alongside the cost analysis.</p>

<p>Information needed for a CCA include cost and resource use data as well as data on clinical outcomes.</p>
<h3>An illustrative example</h3> 
<p>HeartFlow FFRCT for estimating fractional flow reserve from coronary CT angiography
A CCA was developed for the NICE assessment of HeartFlow FFRCT for estimating fractional flow reserve from coronary CT angiography (See the assessment report for detailed information).</p>

<p>Note: This is an illustrative example provided only as a guide to demonstrate what a CCA looks like and the types of inputs and outputs. It should be read in conjunction with the committee’s consideration of the evidence, and innovators should be mindful that the structure and inputs will not be equally applicable to all products. The appropriate approach for your product will depend on your evidence and value proposition.</p>

<h3>Where to go for more information</h3>
<p>The medical technologies evaluation programme methods guide provides more information on the evidence requirements (including detailed information on providing a CCA) for evaluating medical devices.</p>

<p>Bespoke support for developing your clinical and economic evidence case is available through <a href="https://www.nice.org.uk/about/what-we-do/life-sciences/scientific-advice">NICE Scientific Advice</a>.</p>

{% from 'pagination/macro.njk' import pagination %}

{{ pagination({
  "previousUrl": "/htc/innovators/medicines",
  "previousPage": "Medicines",
  "nextUrl": "/htc/innovators/evidence/diagnostics",
  "nextPage": "Diagnostics tests"
}) }}
 
    </div>  

  </div>
{% endblock %}
