
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Evidence
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/evidence",
            text: "Evidence overview"
          },
          {
            href: "/htc/innovators/evidence/medicines",
            text: "Medicines"
          },          
          {
            href: "/htc/innovators/evidence/devices",
            text: "Medical devices"
          },
          {
            href: "/htc/innovators/evidence/diagnostics",
            text: "Diagnostics tests",
            current: "true"
          },
          {
            href: "/htc/innovators/evidence/digital",
            text: "Digital health technologies"
          },
          {
            href: "/htc/innovators/evidence/other",
            text: "Other types of innovation"
          }
        ]
      }) }}

      <h2>Diagnostics tests</h2>

<h3>Clinical effectiveness</h3>
<p>Evidence for a diagnostics assessment should ideally be based on end-to-end studies that follow patients from testing, through treatment, to final outcomes. As a minimum, evidence on diagnostic accuracy should be provided, although evidence of any impact on health outcomes or resource use following testing would also be useful. These end-to-end studies may be of varying quality and design and could include randomised controlled trials (RCTs), cohort studies, observational studies and meta-analysis of multiple studies.</p>

<h3>Economic evidence</h3>
<p>A cost-effectiveness (specifically cost-utility) analysis is the preferred approach for assessing the value for money of a diagnostic test, in the context of its impact on the care pathway. This type of economic analysis seeks to establish whether differences in expected costs between options can be justified in terms of changes in expected health effects.</p>

<p>Information needed for a cost-utility analysis (CUA) of a diagnostic test include data on clinical outcomes, health-related quality of life, costs and resource use, all of which are informed by different types of evidence. The outcomes and costs typically include those arising from treatments following the use of the test and cover the entire relevant portion of the care pathway.</p>

<p>For diagnostic tests, the downstream consequences, that is the final health outcomes and costs, must be modelled to demonstrate the impact of the test result on decision making along the treatment and care pathway.</p>

<h3>An illustrative example</h3>
<p>PlGF-based testing to help diagnose suspected pre-eclampsia
A CUA was developed for the NICE assessment of PlGF-based testing to help diagnose suspected pre-eclampsia (See the diagnostics assessment report for detailed information).</p>
<p>Note: This is an illustrative example provided only as a guide to demonstrate what a CUA for a diagnostic test looks like and the types of inputs and outputs. It should be read in conjunction with the committee’s consideration of the evidence, and innovators should be mindful that the structure and inputs will not be equally applicable to all products. The appropriate approach for your product will depend on your evidence and value proposition.</p>
<h3>Where to go for more information</h3>

<p>The Diagnostics Assessment Programme manual provides more information on the types of evidence required for a diagnostics assessment.</p>

<p>Bespoke support for developing your clinical and economic evidence case is available through <a href="https://www.nice.org.uk/about/what-we-do/life-sciences/scientific-advice">NICE Scientific Advice</a>.</p>

{% from 'pagination/macro.njk' import pagination %}

{{ pagination({
  "previousUrl": "/htc/innovators/devices",
  "previousPage": "Medical devices",
  "nextUrl": "/htc/innovators/evidence/digital",
  "nextPage": "Digital health technologies"
}) }}
 
    </div>  

  </div>
{% endblock %}
