
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Evidence
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/evidence",
            text: "Evidence overview"
          },
          {
            href: "/htc/innovators/evidence/medicines",
            text: "Medicines"
          },          
          {
            href: "/htc/innovators/evidence/devices",
            text: "Medical devices"
          },
          {
            href: "/htc/innovators/evidence/diagnostics",
            text: "Diagnostics tests"
          },
          {
            href: "/htc/innovators/evidence/digital",
            text: "Digital health technologies",
            current: "true"
          },
          {
            href: "/htc/innovators/evidence/other",
            text: "Other types of innovation"
          }
        ]
      }) }}

      <h2>Digital health technologies</h2>

<h3>Clinical effectiveness</h3>
<p>NICE has developed the evidence standards framework for digital health technologies, in collaboration with NHS England, Public Health England, MedCity and Digital Health London. The framework is a set of aspirational standards that set the level of evidence needed to support adoption of digital health technologies (DHTs) that are commissioned in the UK health and care system.</p>
<p>The framework may be used for DHTs that incorporate artificial intelligence using fixed algorithms, but not for those using adaptive algorithms. However, these are expected to be included in future iterations of the standards.
The framework has been incorporated into the NHS Digital Health Technology Standard and the guide from Public Health England on Evaluating Digital Health Products.</p>
<h3>Economic evidence</h3>
<p>An economic analysis, ranging from a simple budget impact analysis to a more complicated cost-utility analysis will be required for digital health technologies to assess the financial impact of their adoption. The exact type of economic analysis required will depend on several factors including the type of commissioning decision needed and the likely financial commitment.</p>
<h3>Where to go for more information</h3>
<p>The Evidence Standards Framework for Digital Health Technologies provides more informationor on  economics analysis.</p>

<p>Bespoke support for developing your clinical and economic evidence case is available through <a href="https://www.nice.org.uk/about/what-we-do/life-sciences/scientific-advice">NICE Scientific Advice</a>.</p>


{{ pagination({
  "previousUrl": "/htc/innovators/diagnostics",
  "previousPage": "Diagnostics tests",
  "nextUrl": "/htc/innovators/evidence/other",
  "nextPage": "Other types of innovation"
}) }}
 
    </div>  

  </div>
{% endblock %}
