
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Evidence
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/evidence",
            text: "Evidence overview"
          },
          {
            href: "/htc/innovators/evidence/medicines",
            text: "Medicines"
          },          
          {
            href: "/htc/innovators/evidence/devices",
            text: "Medical devices"
          },
          {
            href: "/htc/innovators/evidence/diagnostics",
            text: "Diagnostics tests"
          },
          {
            href: "/htc/innovators/evidence/digital",
            text: "Digital health technologies"
          },
          {
            href: "/htc/innovators/evidence/other",
            text: "Other types of innovation",
            current: "true"
          }
        ]
      }) }}

      <h2>Other types of innovation</h2>

{{ pagination({
  "previousUrl": "/htc/innovators/digital",
  "previousPage": "Digital health technologies"
}) }}
 
    </div>  

  </div>
{% endblock %}
