{% extends 'layout.html' %}

{% block pageTitle %}
  Funding partners - Find an innovation partner
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Funding partners
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Finding an innovation partner
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/partners",
            text: "National organisations"
          },
          {
            href: "/partners/page-two",
            text: "Local and regional offers"
          },
          {
            href: "/partners/page-three",
            text: "Funding partners",
            current: "true"
          }
        ]
      }) }}

      <h2>
        Funding organisations
      </h2>

      <p>
         Vestibulum dapibus semper lacus, eget vestibulum mi porttitor nec. Ut lobortis pellentesque turpis, in egestas est volutpat ac. Suspendisse auctor erat enim, eget pharetra ligula consectetur at. Aliquam fringilla accumsan tempor. Nullam non enim eros. Donec eleifend commodo feugiat. Donec dictum neque et neque laoreet luctus.

      </p>

{{ actionLink({
  "text": "Find a partner",
  "href": "/partners/start-page"
}) }}  
      
      <h2>
        Funding opportunities
      </h2>

      <p>
        Vivamus et est malesuada, eleifend eros a, feugiat augue. Duis dignissim elit vel lacus mattis feugiat. Etiam dictum convallis eros non commodo. Mauris a elit eget tellus pretium rhoncus. Donec volutpat arcu urna, quis facilisis diam interdum a. Cras leo enim, interdum nec vehicula at, sollicitudin a libero. Nullam vel metus in magna vestibulum mattis. Quisque vel ipsum vel sapien egestas aliquam. Fusce ex sem, pellentesque ac nunc ut, suscipit eleifend neque. Vestibulum nec felis massa. Nunc neque dui, sollicitudin at cursus ornare, tempus eu enim. Vestibulum accumsan non erat varius finibus. 
      </p>



      {{ pagination({
        "previousUrl": "/partners/page-two",
        "previousPage": "Local and regional offers"
      }) }}

    </div>
  </div>
{% endblock %}
