{% extends 'layout.html' %}

{% block pageTitle %}
  Find an innovation partner
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/partners",
  text: "Finding an innovation partner"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Find a partner
      </h1>

      <form action="/partners/start-page" method="post">


      {{ checkboxes({
        "idPrefix": "partner-services",
        "name": "partner-services",
        "fieldset": {
          "legend": {
            "text": "What kind of support do you need?",
            "classes": "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all options that are relevant to you."
        },
        "items": [
          {
            "value": "funding",
            "text": "Recommended sources of funding"
          },
          {
            "value": "regulation",
            "text": "Guidance on complying with regulations"
          },          
          {
            "value": "develop",
            "text": "Advice on how to develop an idea or innovation"
          },
          {
            "value": "evidence",
            "text": "Help with gathering evidence for a product or service"
          },
          {
            "value": "data",
            "text": "Access to data for use in evaluating a product or service"
          },
          {
            "value": "adoption",
            "text": "Support for adoption of an established product or service"
          }
        ]
      }) }}

      {{ input({
        "label": {
        "text": "Enter a town, city or postcode in England to find services near you"
        },
            "hint": {
            "text": "Leave empty if you would like to find services nationwide"
        },
        "id": "input-width-20",
        "name": "test-width-20",
        "classes": "nhsuk-input--width-20"
      }) }}


      {{ button({
        "text": "Search"
      }) }}

    </form>


    </div>
  </div>
{% endblock %}
