{% extends 'layout.html' %}

{% block pageTitle %}
  Regulation - Main page
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Getting your product to market
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Comply with regulations
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/regulation",
            text: "Medical device regulations"
          },
          {
            href: "/regulation/page-two",
            text: "Impact of Brexit on regulatory compliance"
          },
          {
            href: "/regulation/page-three",
            text: "Getting your product to market",
            current: "true"
          }
        ]
      }) }}

      <h2>
        Conformity assessment
      </h2>
      <p>
        Vestibulum dapibus semper lacus, eget vestibulum mi porttitor nec. Ut lobortis pellentesque turpis, in egestas est volutpat ac. Suspendisse auctor erat enim, eget pharetra ligula consectetur at. Aliquam fringilla accumsan tempor. Nullam non enim eros. Donec eleifend commodo feugiat. Donec dictum neque et neque laoreet luctus.
      </p>      

      <h2>
        Responsibility for compliance
      </h2>
      <p>
        Vivamus et est malesuada, eleifend eros a, feugiat augue. Duis dignissim elit vel lacus mattis feugiat. Etiam dictum convallis eros non commodo. Mauris a elit eget tellus pretium rhoncus. Donec volutpat arcu urna, quis facilisis diam interdum a. Cras leo enim, interdum nec vehicula at, sollicitudin a libero. Nullam vel metus in magna vestibulum mattis. 
      </p>

      <h2>
        Quality Management System (QMS), and ISO Standard 1348512
      </h2>
      <p>
        Quisque vel ipsum vel sapien egestas aliquam. Fusce ex sem, pellentesque ac nunc ut, suscipit eleifend neque. Vestibulum nec felis massa. Nunc neque dui, sollicitudin at cursus ornare, tempus eu enim. Vestibulum accumsan non erat varius finibus. 
      </p>      

      {{ pagination({
        "previousUrl": "/regulation/page-two",
        "previousPage": "Impact of Brexit on regulatory compliance"
      }) }}

    </div>
  </div>
{% endblock %}
