{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Testing in context
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 8 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/7-testing/one" method="post">

      {% call fieldset({
          legend: {
            "text": "Have you tested your product or service with users?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          },
          hint: {
            "text": "Testing can mean involving patients, carers, clinicians / administrator in design and delivery."
          }
          }) %}

      {{ radios({
            "idPrefix": "testing-status",
            "name": "testing-status",
            "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}
      {% endcall %}
  
      <a href="/htc/account/questions/8-care-pathway/one" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}