{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
  Company or organisation - Add a product or service
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Company or organisation details
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Section 2 of 6
        </span>
      </h1>
      <form action="" method="post">



{% from 'fieldset/macro.njk' import fieldset %}
{% from "input/macro.njk" import input %}

{% call fieldset({
  legend: {
    "text": "Your profile",
    "classes": "nhsuk-fieldset__legend--m",
    "isPageHeading": true
  }
}) %}

  {{ input({
    label: {
      "text": "Your organisation name"
    },
    "classes": "nhsuk-u-width-two-thirds",
    "id": "address-town",
    "name": "address-town"
  }) }}

  {{ input({
    label: {
      "text": "Your role or occupation"
    },
    "classes": "nhsuk-u-width-two-thirds",
    "id": "address-county",
    "name": "address-county"
  }) }}

{% endcall %}


{{ checkboxes({
  "idPrefix": "example",
  "name": "example",
  "fieldset": {
    "legend": {
      "text": "Do you have permission to register a technology on behalf of your organisation?",
      "classes": "nhsuk-fieldset__legend--m",
      isPageHeading: true
    }
  },

  "items": [
    {
      "value": "terms-agree",
      "text": "I confirm that I have permission"
    }
  ]
}) }}

        {% from 'details/macro.njk' import details %}

        {{ details({
          "text": "Why do I need permission?",
          "HTML": "
          <p>Overview...</p>
            <ul>
                <li>Requirement...</li>
                <li>Requirement...</li>
                <li>Requirement...</li>
            </ul>
            "
        }) }}


      <a href="/htc/account/questions/3-benefits/one" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

      </form>

    </div>
  </div>
{% endblock %}
