
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Intellectual property
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Guides for innovators
        </span>        
      </h1>

      <p class="nhsuk-lede-text">Protecting your idea is essential if you want to develop and exploit it commercially. This guide outlines the various forms of Intellectual Property (IP) and advises on best practice, including how to share your rights with collaborators.</p>
<h2>Background</h2>
<p>IP can be categorised into two groups: registered or ‘hard’ rights which have to be applied for and have an associated cost - and unregistered or ‘soft’ rights which are automatically granted on creation. In the UK, registered rights include patents, registered designs, trademarks and plant breeders’ rights. Unregistered rights include copyright, design rights, database rights, publication rights and trade secrets. In the UK, patents, registered designs and trademarks are administered by the Intellectual Property Office. See http://www.ipo.gov.uk for a comprehensive explanation of how all Intellectual Property Rights (IPR) work.</p>
<h2>Knowledge</h2>
<p>The medical devices industry relies on the creation and exploitation of knowledge. But this only has any value if you can control its use by others. Knowledge is valuable if it is kept secret, but it may not be patentable. Sometimes, even if knowledge is patentable, you may opt to keep your knowledge a secret.</p>
<p>Bear in mind that being granted a patent will not prevent infringement. The onus is on you to start legal proceedings to defend any infringement. A patent is worthless unless you are prepared to defend it, or your competitors believe that you are prepared to defend it. It is extremely important not to disclose knowledge relating to an invention before applying for a patent. </p>
<p>The rule that an invention must be novel to be patentable is absolutely rigid. This means that any prior disclosure or loss of confidentiality will preclude the grant of a patent, or if one is granted, render it liable to be revoked by the court if anyone challenges its validity.</p>
<h2>Intellectual property created by employees</h2>
<p>The importance of IP means that you should always avoid ambiguity about ownership. As research and development work generates new IP, this may not always be straightforward. It may depend on the nature or legal description of the right, as well as who created it. </p>
<p>Generally, copyright, design right, and registered designs created by an employee ‘in the course of employment’ belongs to the employer under the Patents Act 1977 (as amended); the amendments for IP rights other than patents were contained in the Copyright, Designs and Patents Act 1988. It does not mean ‘during working hours’, because it is related more to what the employee is employed to do, rather than when they did it. </p>
<p>For more information on this subject, see the guide on ‘Commercial Routes: Which One Do I Choose?’. To avoid any doubt, your employment contract should deal expressly with IP. It may (rarely) give ownership to the employee or it can try to provide for all employee-created IP to belong to the company. Difficulties can also come up with R&D carried out by external consultants or contractors (including universities) or by a company carrying out work for another organisation. Before undertaking external work, the contracting company should ensure they have a contract in place which assigns any IP rights to them.</p>

<h2>Copyright and designs</h2>
<p>Under the Copyright, Designs and Patents Act 1988 (CDPA), the owner of copyright in a commissioned work is the author or creator of that work, whereas the owner of design right in a commissioned work, or in any registered design that is applied for arising from a commissioned work, is the commissioner of that work. </p>
<p>This means that a contract is required to deal with the ownership of copyright to ensure that the commissioning company obtains ownership. </p>
<p>Relevant copyright works in the medical devices industry are likely to be computer programs, written articles, photographs, diagrams, and drawings; while design right is likely to apply to any three-dimensional object, such as a medical device constructed from a biomaterial, or one made for manipulating, using, or applying a device. </p><p>Designs for three-dimensional articles are usually specified in the form of two-dimensional working drawings, where copyright applies to the actual drawing itself, but a design right applies to any article made according to the drawing.</p>
<h2>Patents</h2>
<p>When it comes to patentable inventions, the Patents Act 1977 (as amended) merely states that an inventor is entitled to apply for a patent to protect his invention and owns any patent granted. However, if you commission and pay an inventor to carry out work leading to an invention, you can argue that you should be assigned the patent or at least have a licence to use the invention, since this was the whole point of the project. On the other hand, if the invention was only incidental to the project, then the inventor could argue that they should own the patent.</p>
<h2>Trademarks</h2>
<p>One form of intellectual property, the trademark, is generally not effective in protecting an idea itself, but can become important if you need to protect how customers might recognise your idea. The essential purpose of a trademark is to protect the origin of goods or services, so that goods or services sold under your trademark are known to be made or supplied by you or with your authority. </p>
<p>As you think about how products derived from your ideas will be branded, you should aim to create a distinctive identity that can be registered as a trademark. You must also confirm that your company name or product name and logo do not conflict with existing trademarks. One great advantage of trademarks is that they are effectively perpetual and so can continue to protect your products long after other IP rights have expired.</p>
<h2>Agreements</h2>
<p>You should put in place a written agreement that states precisely what is to happen with arising IP rights. Its provisions will depend on circumstances, but the contractor usually assigns to the commissioner all arising copyright, and agrees to assign all patent applications in respect of inventions made in the course of the project.</p>
<h2>Jointly owned IP</h2>
<p>It is often the case that two or more companies or individuals collaborate on research, or a development likely to be of mutual benefit. Unless their agreement is absolutely clear about joint IP ownership, control and exploitation, there may be significant problems in the future. In the absence of any prior agreement to the contrary, the creator of an invention (or in the case of an employee, usually his employer) will own the rights in that invention, including any patents applied for. There is immediately scope for disagreement here if the other party thinks that it should be jointly owned. The Patents Act 1977 states that each of the joint owners may exploit the patent. Individually they may do nothing else: no joint owner may sell or license his own share.</p>
<p>It can be better to agree at the outset that arising IP will be owned by one party only and licensed to the others. This can be just as good for the licensee, so long as the agreement provides that the licence contains all their required rights and safeguards. This arrangement is particularly appropriate if the two (or more) parties are interested in exploiting the arising IP in different technical fields.</p>
<p>A different approach altogether is to set up a joint venture company (especially if it is likely to be a long-term collaboration) with the collaborating parties as shareholders. The company can then own all arising IP and either grant licences to each party or exploit the IP for the benefit of all by licensing to third parties.</p>



 
    </div>  

  </div>
{% endblock %}
