
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  NHS innovation - NHS.UK prototype kit
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Tell us about your product or service
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>answer some basic questions about your product or service</li>
        <li>view a summary profile of your product or service</li> 
        <Li>receive a recommended next step based on your answers</li>
      </ul>

      <a href="/htc/tell-us/step-one" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>


    </div>  

  </div>
{% endblock %}
