{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Evidence - Tell us about your product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/tell-us/start",
  text: "Tell us about your product or service" 
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/htc/tell-us/step-four" method="post">

        {% call fieldset({
          legend: {
            "text": "Do you have evidence for your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

          {{ details({
          "text": "What kind of evidence is expected?",
          "HTML": "
          <p>All healthcare products and services require evidence to be assessed for use.</p>
            <p>The type of evidence you will need to provide include:</p>
            <ul>
              <li>Testimony from experts (e.g. patients, clinicians, academics)</li>
              <li>Unpublished data or data presented at a conference</li>
              <li>Data published but not in a peer reviewed journal</li>
              <li>Randomised controlled trial published in a peer reviewed journal</li>
              <li>Non-randomised comparative data published in a peer reviewed journal</li>
            </ul>
           <p>Evidence will be assessed based on how well it establishes the safety and effectiveness of a product and service for the intended users.</p>
           <p>If you have a non-clinical product or service, different evidence standards may apply.</p>
            "
        }) }}


          {{ radios({
            "idPrefix": "evidence-available",
            "name": "evidence-available",
            "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "checked": checked("evidence-available", "Yes")
          },
          {
            "value": "No",
            "text": "No",
            "checked": checked("evidence-available", "No")
          }
        ]
        }) }}
        {% endcall %}


        {{ button({
          "text": "Continue"
        }) }}

        {{ backLink({
          "href": "/htc/tell-us/step-three",
          "text": "Return to previous question"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
