{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Cost - Tell us about your product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/tell-us/start",
  text: "Tell us about your product or service" 
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/htc/tell-us/step-five" method="post">


        {% call fieldset({
          legend: {
            "text": "Do you know the cost savings your product or service would create?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

          {{ details({
          "text": "Why are we asking this question?",
          "HTML": "
            <p>You may need to demonstrate how your product or service:</p>
            <ul>
              <li>provides similar outcomes for lower cost</li>
              <li>is more expensive but has better outcomes leading to overall cost savings</li>
              <li>is more expensive overall but scope of outcomes justifies the cost increase</li>
            </ul>
           <p>Academic Health Science Networks (AHSN) can provide guidance and support in developing commercial models for new products and services.</p>
            "
        }) }}

          {{ radios({
            "idPrefix": "cost-savings",
            "name": "cost-savings",
            "items": [
          {
            "value": "Yes",
            "text": "Yes",
            "checked": checked("cost-savings", "Yes")
          },
          {
            "value": "No",
            "text": "No",
            "checked": checked("cost-savings", "No")
          }
        ]
        }) }}
        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

        {{ backLink({
          "href": "/htc/tell-us/step-four",
          "text": "Return to previous question"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
