{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Summary - Tell us about your product or service
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/htc/tell-us/start",
  text: "Tell us about your product or service" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Summary
      </h1>

      {% from "summary-list/macro.njk" import summaryList %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "What category best describes your product or service?"
            },
            value: {
              text: "Digital health platform, mobile app or cloud service "
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-one",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know which regulations that apply your product or service?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-two",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you tested your product or service with users?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-three",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have evidence for your product or service?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-four",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know what cost savings your product or service would create?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-five",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Has your product or service been deployed in an NHS or care setting?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/htc/tell-us/step-six",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>
    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Recommended next step</h2>
      <p>Based on your answers, we would recommend that you register your product or service with Health Connect.</p>

      {{ insetText({
        "HTML": "<p>To register with Health Connect we need you to create an account.</p>"
      }) }}

      {% from 'action-link/macro.njk' import actionLink %}
        {{ actionLink({
          "text": "Continue to create an account",
          "href": "/htc/create-account"
        }) }}
      <h3>Why we made this recommendation</h3>
      <p>Your answers indicate that you have a product or service that is can be assessed and supported using Health Connect.</p>

    </div>
  </div>
{% endblock %}
