
{% extends 'htc-layout-assessor.html' %}

{% block pageTitle %}
  NHS innovation - NHS.UK prototype kit
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/account/assessor",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        ChatHealth
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          Company profile
        </span>
      </h1>


      {{ contentsList({
        items: [
          {
            href: "/htc/account/company-profile",
            text: "Company details",
            current: "true"
          },
          {
            href: "/htc/account/contact-reports",
            text: "Contact reports"
          },
          {
            href: "/htc/account/manage-company-profile",
            text: "Manage profile"
          }
        ]
      }) }}

      <h2>Company details</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Website"
            },
            value: {
              text: "https://www.healthforteens.co.uk/health/about-chathealth/"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: "Leicestershire Partnership NHS Trust"
            }
          },
          {
            key: {
              text: "Contact"
            },
            value: {
              html: "Chris Harris"
            }
          }
        ]
      }) }}

    </div>  

  </div>
{% endblock %}
