
{% extends 'htc-layout-assessor.html' %}

{% block pageTitle %}
  NHS innovation - NHS.UK prototype kit
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc/account/assessor",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        ChatHealth
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Company profile
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/company-profile",
            text: "Company details"
          },
          {
            href: "/htc/contact-reports",
            text: "Contact reports"
          },
          {
            href: "/htc/manage-company-profile",
            text: "Manage profile",
            current: "true"
          }
        ]
      }) }}

      <h2>Manage profile</h2>

      <form action="">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "Add additional tags to this profile"
          },
            "hint": {
            "text": "Please seperate tags with a comma. Example: 'chatbot, doctor'."
          },
          "id": "example-with-hint-text",
          "name": "example-with-hint-text"
        }) }}

        {% from 'radios/macro.njk' import radios %}
        {% from 'fieldset/macro.njk' import fieldset %}
        {% from 'hint/macro.njk' import hint %}

        {% call fieldset({
          legend: {
            "text": "Company classification",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}
          {{ hint({
            "text": "Include this company in a predefined list for reporting",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}
 
          {{ radios({
            "idPrefix": "example-hints",
            "name": "example-hints",
            "items": [
          {
            "value": "yes",
            "text": "Small"
          },
          {
            "value": "no",
            "text": "Mediun"
          },
          {
            "value": "not sure",
            "text": "Large"
          },
    {
      "divider": "or"
    },
    {
      "value": "create-account",
      "text": "No information"
    }
        ]
        }) }}
        {% endcall %}

        {% from 'button/macro.njk' import button %}

        {{ button({
          "text": "Update profile"
        }) }}

       </form> 

    </div>  

  </div>
{% endblock %}
