{% extends 'layout.html' %}

{% block pageTitle %}
  Find an innovation partner
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/partners",
      text: "Finding an innovation partner"
    }
  ],
  href: "/partners/start-page",
  text: "Find a partner"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        Find a partner
      </h1> 
      <ol class="nhsuk-list results service-results">
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.emahsn.org.uk/">East Midlands Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  C Floor, Institute of Mental Health, University of Nottingham, Innovation Park, Triumph Road, Nottingham, NG7 2TU
                              </p>
                              <ul class="nhsuk-list">
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Funding</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Regulation</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Advice</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Evidence</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Data</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Adoption</li>
                              </ul> 
                          </div>
                      </div>
                  </div>
              </li>
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://innovationexchangeeast.org/">Eastern Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Eastern AHSN, Unit C, Magog Court, Shelford Bottom, Cambridge, CB22 3AD
                              </p>
                              <ul class="nhsuk-list">
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Funding</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Regulation</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Advice</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Evidence</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Data</li>
                                <li class="nhsuk-tag nhsuk-tag--dark-grey">Adoption</li>
                              </ul> 
                          </div>
                      </div>
                  </div>
              </li>  
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://healthinnovationmanchester.com/">Health Innovation Manchester</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://healthinnovationnetwork.com/">Health Innovation Network South London</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Minerva House, 5 Montague Close, London, SE1 9BB
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://imperialcollegehealthpartners.com/">Imperial College Health Partners </a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.innovationagencyexchange.org.uk/">Innovation Agency - Academic Health Science Network for the North West Coast </a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.kssahsn.net/">Kent Surrey Sussex Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-5" style="border-top: 1px solid #d8dde0;">
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.ahsn-nenc.org.uk/">Academic Health Science Network North East and North Cumbria</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Room 2.13, Biomedical Research Building, The Campus for Ageing and Vitality, Nuns’ Moor Road, Newcastle upon Tyne NE4 5PL
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li>
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.oxfordahsn.org/">Oxford Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Magdalen Centre, North Oxford, Science Park, OX4 4GA
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.swahsn.com/">South West Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://uclpartners.com/innovators-business/">UCL Partners</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  UCLPartners, 170 Tottenham Court Road, London W1T 7HA
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://wessexahsn.org.uk/programmes/6/industry-and-innovation">Wessex Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://meridian.wmahsn.org/">West Midlands Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li>  
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.innovationexchange.co.uk/">West of England Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
              <li> 
                  <div class="nhsuk-grid-row results__details">
                      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5" style="border-top: 1px solid #d8dde0;">
                          <div>
                              <h2 id="orgname_0" class="nhsuk-u-padding-top-0"><a href="https://www.healthinnovationexchange.org.uk/">Yorkshire and Humber Academic Health Science Network</a></h2>
                              <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
                                  Address
                              </p>
                          </div>
                      </div>
                  </div>
              </li> 
            </ol>  
    </div>
  </div>
{% endblock %}
