{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Commercial model
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 11 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/10-commercial-model/one" method="post">

      {% call fieldset({
          legend: {
            "text": "Do you have a model for generating revenue from your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
      }) %}

      {{ radios({
            "idPrefix": "cost",
            "name": "cost",
            "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}
      {% endcall %}

      <a href="/htc/account/questions/10-commercial-model/two" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}