
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  Guide to regulations - Information for innovators
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/htc",
      text: "Home"
    }
  ],
  href: "/htc/innovators",
  text: "Information for innovators" 
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Digital products and services
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Regulations
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/htc/innovators/regulations",
            text: "Medicines and medical devices"
          },          
          {
            href: "/htc/innovators/regulations/digital",
            text: "Digital products, services and components",
            current: "true"
          },
          {
            href: "/htc/innovators/regulations/surgical",
            text: "Surgical procedures and techniques"
          },
          {
            href: "/htc/innovators/regulations/other",
            text: "Models of care and other innovations"
          }
        ]
      }) }}

<p>Some digital health technologies are classed as medical devices and therefore are within remit for CE marking under the <a href="https://www.gov.uk/guidance/medical-devices-eu-regulations-for-mdr-and-ivdr">Medical Devices Regulation</a>. </p>
<p>For digital health technologies that are not classed as medical devices, there is currently no established safety regulatory framework, but the <a href="https://www.nice.org.uk/about/what-we-do/our-programmes/evidence-standards-framework-for-digital-health-technologies">NICE Evidence Standards Framework</a>, NHS Digital Health Technology Standard and the guide from Public Health England on <a href="https://www.gov.uk/government/collections/evaluating-digital-health-products">Evaluating Digital Health Products</a> may provide detailed guidance on standards they need to meet for adoption within the NHS.</p>
<p>Note that the <a href="https://www.gov.uk/service-manual">Government Service Manual</a>, or for NHS services and products, the <a href="https://service-manual.nhs.uk/">NHS Service Manual</a> apply to both clinical and non-clinical products and services, including digital components of other types of innovation. </p>

{% from 'pagination/macro.njk' import pagination %}

{{ pagination({
  "previousUrl": "/htc/innovators/regulations",
  "previousPage": "Medicines and medical devices",
  "nextUrl": "/htc/innovators/regulations/surgical",
  "nextPage": "Surgical procedures and techniques"
}) }}
    
    </div>  

  </div>
{% endblock %}
