{% extends 'layout.html' %}

{% block pageTitle %}
  Developing your idea - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/assess",
      text: "Developing products and services"
    }
  ],
  href: "/assess/start-page",
  text: "Profile a product or service" 
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Developing your idea
      </h1>

      

    </div>
  </div>
{% endblock %}
