{% extends 'layout.html' %}

{% block pageTitle %}
  Assessment - Main page
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Value for money
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Evaluation of products and services
        </span>
      </h1>

      {{ contentsList({
        items: [
         {
            href: "/demand",
            text: "Categories of need"
          },
          {
            href: "/demand/page-two",
            text: "Communication of needs"
          },
          {
            href: "/demand/page-three",
            text: "Information for innovators"
          },
          {
            href: "/assess",
            text: "Patient safety and regulation"
          },
          {
            href: "/assess/page-two",
            text: "Clinical effectiveness"
          },
          {
            href: "/assess/page-three",
            text: "Value for money",
            current: "true"
          }
        ]
      }) }}

      <h2>
        Comparing costs and benefits
      </h2>

      <p>
        Suspendisse iaculis accumsan ullamcorper. Suspendisse dapibus quis enim ac accumsan. Aenean augue augue, elementum ac egestas quis, pharetra non augue. Nam tempus interdum nisl sed dignissim. Nam pulvinar faucibus ligula a molestie.
      </p>
     <h2>
        Types of technology
      </h2>
      <p>
         Etiam in cursus felis. Cras ac leo eu urna semper fermentum vel sit amet libero. Quisque cursus suscipit libero, quis consequat mi dictum in. Vestibulum semper sed elit et rutrum. Ut tristique est vel sodales dapibus. 
      </p>  
      <h3>Medicines</h3>
      <p>
        Mauris erat sem, laoreet sit amet erat at, fermentum luctus dolor. Maecenas id varius nulla. Ut sit amet egestas nulla. Praesent fringilla libero ut dolor interdum vehicula. 
      </p>  
      <h3>Diagnostic tests</h3>
      <p>
        Aenean accumsan enim sed porta tempor. Ut a nunc lectus. Aenean laoreet, metus et dapibus lobortis, augue lectus imperdiet justo, vel faucibus arcu elit sit amet diam. Nam ut erat urna.
      </p>   
      <h3>Digital health technologies</h3>
      <p>
        Nulla facilisi. Aliquam iaculis at neque a maximus. Sed commodo ultrices efficitur. Nunc nec consequat lorem, sit amet volutpat quam. Fusce. 
      </p>                   


      {{ pagination({
        "previousUrl": "/assess/page-two",
        "previousPage": "Clinical effectiveness"
      }) }}

    </div>
  </div>
{% endblock %}
