{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Safety and regulatory information
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 7 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/6-safety-regulatory-info/one" method="post">

      {% call fieldset({
          legend: {
            "text": "Do you know of any regulations or standardsthat apply to your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

      {{ radios({
            "idPrefix": "info",
            "name": "info",
            "items": [
          {
            "value": "1",
            "text": "Yes, and I have met them all"
          },
          {
            "value": "2",
            "text": "Yes, and I am working on meeting them"
          },
          {
            "value": "3",
            "text": "I know some of them"
          },
          {
            "value": "4",
            "text": "I don't know any of them"
          }
        ]
        }) }}
      {% endcall %}
  
      <a href="/htc/account/questions/6-safety-regulatory-info/two" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}