{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Safety and regulatory information
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 6 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/6-safety-regulatory-info/one" method="post">
      {% from 'input/macro.njk' import input %}
      {% from 'checkboxes/macro.njk' import checkboxes %}
      
      {% set freeTextHtml %}
        {{ input({
          id: "regulation-desc",
          name: "regulation-desc",
          classes: "nhsuk-u-width-two-thirds",
          label: {
            text: "Please describe the regulation"
          }
        }) }}
      {% endset -%}
      
      {{ checkboxes({
        "idPrefix": "regulations",
        "name": "regulations",
        "fieldset": {
          "legend": {
            "text": "Which regulations apply to your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "hint": {
          "text": "Select all options that apply to you."
        },
        "items": [
          {
            "value": "1",
            "text": "CE Marking"
          },
          {
            "value": "2",
            "text": "ISO Standards"
          },
          {
            "value": "3",
            "text": "General IG/GDPR"
          },
          {
            "value": "4",
            "text": "Other",
            "conditional": {
              "html": freeTextHtml
            }
          }
        ]
      }) }}  
  
      <a href="/htc/account/questions/7-testing/one" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}