
{% extends 'htc-layout.html' %}

{% block pageTitle %}
  NHS innovation - NHS.UK prototype kit
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    href: "/htc",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Introduce new products and services to the NHS
        
      </h1>

      <p class="nhsuk-lede-text">
        Health Connect provides <a href="/htc/innovators">information and guidance</a> for individuals and organisations who want to supply  innovations to the NHS.
      </p>

      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Tell us about your product or service",
        "href": "/htc/tell-us/start"
      }) }}

      <p>Use Health Connect to get fast access to organisations that provide support and feedback for your product or service.</p>


      {% from 'details/macro.njk' import details %}

      {{ details({
        "text": "Which organisations use Health Connect?",
        "HTML": "
        <p>The following organisations use Health Connect to identify new products and services for help and support:</p>
          <ul>
              <li><a href=\"https://www.ahsnnetwork.com\">Academic Health Science Network</a> (AHSN)</li>
              <li><a href=\"https://www.gov.uk/government/organisations/department-for-international-trade\">Department for International Trade</a></li>
              <li><a href=\"http://www.healthcareimprovementscotland.org\">Healthcare Improvement Scotland</a></li>
              <li><a href=\"https://lshubwales.com\">Life Sciences Hub Wales</a></li>
              <li><a href=\"https://www.nihr.ac.uk\">National Institute for Health Research</a> (NIHR)</li>
              <li><a href=\"https://www.nice.org.uk\">National Institute for Health and Care Excellence</a> (NICE)</li>
              <li><a href=\"https://www.supplychain.nhs.uk\">NHS Supply Chain</a></li>
          </ul>
        "
      }) }}


      </div>
    </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">    
    </div>
  </div> 
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h2>Innovator case studies</h2>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <a class="nhsuk-promo__link-wrapper" href="#">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Healthy.io case study</h2>
                <p class="nhsuk-promo__description">The Academic Health Science Network is helping Healthy.io to grow, prove the benefits of the product and get further exposure and introductions within the NHS.</p>
              </div>
            </a>  
          </div>

          <div class="nhsuk-grid-column-one-half">
            <a class="nhsuk-promo__link-wrapper" href="#">
              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Cerebrotech case study</h2>
                <p class="nhsuk-promo__description">The NIHR Trauma Management MedTech Co-operative has collaborated with Cerebrotech Medical Systems in the evaluation of the Cerebrotech Visor.</p>
              </div>
            </a>  
          </div>
        </div>

    </div>  
  </div>
 
{% endblock %}
