{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Thankyou
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        All sections complete
      </span>
    </h1>

  </div>
</div>
{% endblock %}