{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Understanding the business opportunity
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 3 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/3-business-opportunities/four" method="post">

      {% call fieldset({
        legend: {
          "text": "Have you discussed your product or service with potential customers?",
          "classes": "nhsuk-label--l",
          "isPageHeading": true
        }
        }) %}

    {{ radios({
          "idPrefix": "deployment-status",
          "name": "deployment-status",
          "items": [
        {
          "value": "yes-deployed",
          "text": "Yes, and it is in deployment"
        },
        {
          "value": "yes-plan-to-deploy",
          "text": "Yes, and they plan to deploy it"
        },
        {
          "value": "yes-not-deployed",
          "text": "Yes, but they have not deployed it"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
      }) }}
    {% endcall %}
      <a href="/htc/account/questions/3-business-opportunities/five" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}