{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/account/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Understanding the business opportunity
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 3 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/3-business-opportunities/three" method="post">

      {% call fieldset({
        legend: {
          "text": "What is the intellectual property status of your product or service?",
          "classes": "nhsuk-label--l",
          "isPageHeading": true
        }
        }) %}

    {{ radios({
          "idPrefix": "knowledge-about-ip",
          "name": "knowledge-about-ip",
          "items": [
        {
          "value": "patent_exists",
          "text": "I have a patent / have applied"
        },
        {
          "value": "no_patent",
          "text": "I don't have a patent, but believe I have freedom to operate"
        },
        {
          "value": "status_unknown",
          "text": "I don't know what the IP status is"
        },
        {
          "value": "not_applicable",
          "text": "My product / service does not have IP"
        },
        {
          "value": "other",
          "text": "Other"
        }
      ]
      }) }}
    {% endcall %}
      <a href="/htc/account/questions/3-business-opportunities/four" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}