{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Understanding the business opportunity
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 3 of 6
      </span>
    </h1>
    <form action="/htc/account/questions/3-business-opportunities/two" method="post">

     
      {% from 'textarea/macro.njk' import textarea %}

      {{ textarea({
        "name": "example",
        "id": "example",
        "label": {
          "text": "Please describe the market research you've undertaken within the UK market landscape.",
          "classes": "nhsuk-fieldset__legend--m"
        },
        "hint": {
          "text": "Free text - 250 words"
        }
      }) }}
  
      <a href="/htc/account/questions/3-business-opportunities/three" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}