{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Evidence of the benefits
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 5 of 6
      </span>
    </h1>
    <form action="/htc/account/questions/5-benefits-evidence/five" method="post">

      {% call fieldset({
          legend: {
            "text": "Do you have experts we can talk to about your technology?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

      {{ radios({
            "idPrefix": "talk-to-experts",
            "name": "talk-to-experts",
            "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}
      {% endcall %}
  
      <a href="/htc/account/questions/5-benefits-evidence/six" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}