{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Evidence of the benefits
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 6 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/5-benefits-evidence/four" method="post">

      {% from 'checkboxes/macro.njk' import checkboxes %}
      
          {{ checkboxes({
            "idPrefix": "example",
            "name": "example",
            "fieldset": {
              "legend": {
                "text": "Which types of evidence do you think are most important for your product or service to be bought and used in the NHS?",
                "classes": "nhsuk-fieldset__legend--l"
              }
            },
            "items": [
              {
                "value": 1,
                "text": "[refer to Digital Evidence Standards Framework]"
              },
              {
                "value": 2,
                "text": "Real-world"
              },
              {
                "value": 3,
                "text": "UK budget-impact assessment"
              },
              {
                "value": 4,
                "text": "Expert testimony"
              }
          ]
      }) }}
  
      <a href="/htc/account/questions/5-benefits-evidence/five" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}