{% extends 'htc-layout-innovator.html' %}

{% block pageTitle %}
Product or service type - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
    href: "/htc/innovator",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Evidence of the benefits
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
        Section 6 of 12
      </span>
    </h1>
    <form action="/htc/account/questions/5-benefits-evidence/one" method="post">

      {% call fieldset({
          legend: {
            "text": "Do you have evidence to support these benefits of your product / service [for each population]?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

      {{ radios({
            "idPrefix": "benefits-evidence",
            "name": "benefits-evidence",
            "items": [
          {
            "value": "1",
            "text": "No, and no plans to collect any"
          },
          {
            "value": "2",
            "text": "No, but want to generate evidence"
          },
          {
            "value": "3",
            "text": "No, but currently generating evidence"
          },
          {
            "value": "4",
            "text": "Yes"
          }
        ]
        }) }}
      {% endcall %}
  
      <a href="/htc/account/questions/5-benefits-evidence/two" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>
    </form>

  </div>
</div>
{% endblock %}