{% extends 'layout.html' %}

{% block pageTitle %}
  Support - Main page
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Product prototyping
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          Early stage support
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/support",
            text: "Idea generation"
          },
          {
            href: "/support/page-two",
            text: "Product prototyping",
            current: "true"
          },
          {
            href: "/support/page-three",
            text: "Testing your idea"
          }
        ]
      }) }}

      <h2>Identifying early adopters</h2>
      <p>
       Phasellus sit amet volutpat arcu. Suspendisse aliquam nec metus at tempor. Pellentesque euismod sapien tincidunt, posuere mi sit amet, dignissim ligula. Sed sodales fringilla velit. Curabitur luctus imperdiet odio ac lacinia. Pellentesque quis diam in dolor volutpat consequat. 
      </p>
      <h2>Engaging with stakeholders</h2>
      <p>
        Mauris in ipsum ultricies, tempor arcu ut, sodales nisl. Aliquam molestie ligula nibh, sed pretium leo bibendum a. In hac habitasse platea dictumst. Duis vehicula justo massa, quis accumsan libero facilisis ut. Mauris placerat rutrum orci, a efficitur purus porttitor vitae.
      </p>

      {{ pagination({
        "previousUrl": "/support",
        "previousPage": "Idea generation",
        "nextUrl": "/support/page-three",
        "nextPage": "Testing your idea"
      }) }}

    </div>
  </div>
{% endblock %}
