{% extends 'layout.html' %}

{% block pageTitle %}
  Profile a product or service
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Register a product or service with Healthtech Connect
      </h1>

      <p>Healthtech Connect is a service from NICE that support the development and adoption of health technologies with measurable benefits.</p>
      <p>
        This service helps with:
      </p>

      <ul>
        <li>
          identifying and nurturing innovation
        </li>
        <li>
          raising the profile of transformative technology
        </li>
        <li>
          prioritising value-driven technologies for national evaluation
        </li>
        <li>
          enabling support from product development through to adoption
        </li>
      </ul>

      <a href="https://www.healthtechconnect.org.uk/" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now on Healthtech Connect
      </a>



    </div>
  </div>
{% endblock %}
