{% extends 'layout.html' %}

{% block pageTitle %}
  Regulatory awareness - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/service/start-page",
  text: "Find a partner for your product or service" 
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/service/step-five" method="post">

        {% call fieldset({
          legend: {
            "text": "Do you have a commercial model for your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

          {{ radios({
            "idPrefix": "revenue-model",
            "name": "revenue-model",
            "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}
        {% endcall %}


        {{ details({
          "text": "Demonstrating cost effectiveness",
          "HTML": "
          <p>Cost considerations also apply to new products and services.</p>
            <p>You may need to demonstrate how your product or service:</p>
            <ul>
              <li>provides similar outcomes for lower cost</li>
              <li>is more expensive but has better outcomes leading to overall cost savings</li>
              <li>is more expensive overall but scope of outcomes justifies the cost increase</li>
            </ul>
           <p>Academic Health Science Networks (AHSN) can provide guidance and support in developing commercial models for new products and services.</p>
            "
        }) }}


        {{ button({
          "text": "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
