{% extends 'layout.html' %}

{% block pageTitle %}
  Regulatory awareness - Profile a product or service
{% endblock %}


{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/service/start-page",
  text: "Find a partner for your product or service" 
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/service/step-two" method="post">

        {% call fieldset({
          legend: {
            "text": "Do you know which regulations that apply your product or service?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          }) %}

          {{ radios({
            "idPrefix": "regulation-aware",
            "name": "regulation-aware",
            "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}
        {% endcall %}

        {% from 'details/macro.njk' import details %}

        {{ details({
          "text": "What are the different types of regulation?",
          "HTML": "
          <p>Depending on the type of product or service, different regulations can apply.</p>
            <p>The main types of regulation that apply to products and services in the UK are:</p>
            <ul>
                <li>A <a href=\"https://www.gov.uk/guidance/ce-marking\">CE marking</a> to indication compliance with EU safety, health and environmental requirements</li>
                <li><a href=\"https://www.gov.uk/topic/medicines-medical-devices-blood/marketing-authorisations-variations-licensing\">Marketing authorisation</a> for new pharmaceutical, medicine or drug treatments</li>
                <li><a href=\"https://www.cqc.org.uk/guidance-providers/registration/what-registration\">Care Quality Commission (CQC) registration</a> for providers of regulated activity</li>
            </ul>
            <p>The National Institure for Clinical Excellence (NICE) also publish <a href=\"https://www.nice.org.uk/guidance\">detailed guidance</a> for new products and services.</p>
            <p>If you are looking to promote a product or service outside of the UK, different regulations will apply. <a href=\"https://healthcareuk.blog.gov.uk/\">Healthcare UK</a> provide information and support for healthcare providers to do business overseas.</p>
            "
        }) }}


        {{ button({
          "text": "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
